@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.d-none {
  display: none;
}

.navhams {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.navico {
  width: 30px;
  height: 30px;
}

.navbackdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  background-color: black;
  opacity: 0.5;
}

.nav-spacebt {
  display: flex;
  justify-content: space-between;
}

.account-navs {
  display: flex;
  justify-content: flex-end;
  margin: 15px;
}

button:disabled {
  cursor: not-allowed;
  filter: grayscale(20);
}

.disconnect {
  cursor: pointer;
}

.sidebar {
  width: 15%;
  position: fixed;
  height: 100vh;
  /* z-index: 1000; */
  overflow-y: auto;
}
.childrens {
  width: 85%;
  margin-left: 15%;
}
/* .responsivemb-cols {
  grid-template-columns: repeat(4, minmax(0, 1fr));
} */
.mobileMenu {
  padding: 22px !important;
  margin: 20px 16px;
}

.navActiveMenu {
  padding: 0 48px 0 64px;
}

.carousel-status {
  display: none !important;
}
/* @media only screen and (max-width: 2560px) and (min-width: 1441px) {
  .navActiveMenu {
    padding: 0 150px 0 70px;
  }
} */

/*  Rainbow Text animation */

/* .rainbowText {
  background: red;
  background: -webkit-linear-gradient(
    left,
    orange,
    yellow,
    green,
    cyan,
    rgb(255, 136, 0),
    violet
  );
  background: -o-linear-gradient(
    right,
    orange,
    yellow,
    green,
    cyan,
    rgb(255, 136, 0),
    violet
  );
  background: -moz-linear-gradient(
    right,
    orange,
    yellow,
    green,
    cyan,
    rgb(255, 136, 0),
    violet
  );
  background: linear-gradient(
    to right,
    orange,
    yellow,
    green,
    cyan,
    rgb(255, 136, 0),
    violet
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.upcomming {
  background-image: -webkit-linear-gradient(125deg, #8354d6, #cc4391, #4655db);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 15s infinite linear;
}
img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

@media screen and (max-width: 1439px) {
  .sidebar {
    width: 25%;
  }
  .childrens {
    width: 85%;
    margin-left: 25%;
  }
  .navActiveMenu {
    padding: 0 100px 0 64px;
  }
}
@media screen and (max-width: 1024px) {
  .navActiveMenu {
    padding: 0 48px 0 36px;
  }
}
@media screen and (max-width: 768px) {
  .sidebar .sidebarDesktop {
    display: none;
  }
  .childrens {
    width: 100%;
  }
}

@media (max-width: 650px) {
  /* .responsivemb-cols {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .responsivemb-nav {
    position: absolute;
    left: 0;
    z-index: 1001;
  } */
}

/*custom scrollbar in wallet.jsx*/
::-webkit-scrollbar-thumb {
  background: #2100ec;
  /* border-radius: 10px; */
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2100ec;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/*.creso-card {
  background-image: url("../assets/AboutUs/custom.svg");
  background-size: cover;
  background-position: center;
}*/
