.modal-wrapper {
    width: 700px;
    height: 650px;
    position: relative;
    
  }
  
  .modal {
    background: white;
    height:100%;
    width:100%;
    border-radius: 16px;
  }
  
  .modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-body {
    padding-top: 10px;
  }
  
  .modal-header {
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
  }



 @media (max-width:768px) {
  .modal-wrapper {
    width: 500px;
    height: 600px;
    
  }
 }

 @media (max-width:500px) {
  .modal-wrapper {
    width: 400px;
    height: 550px;
    
  }
 }

 @media (max-width:425px) {
  .modal-wrapper {
    width: 300px;
    height: 620px;
    
  }
 }


 /*  */
 /* The container */
.container-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;


}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.container-checkbox .checkmark {
  position: absolute;
  top: -10px;
  left: -23px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #EEEEF1;
  border: 2px solid #000;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #EEEEF1;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #D0F500;
}

/* Create the checkmark/indicator (hidden when not checked) */
.container-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 5px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


